.Pagina_Sobre_Nosotros{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   background-color: rgb(0, 0, 0);


}
.fundadores{
    max-width: 100%;
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
.contenedor_historia{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: fit-content;
    justify-content: space-evenly;
    margin-top: 3%;
}
.Pagina_Sobre_Nosotros h1{
    text-align: center;
    margin-top: 2%;
    color: #ffe907;
    font-family: 'Dancing Script';
    letter-spacing: 10px;
}
.Pagina_Sobre_Nosotros span{
    color: #ff8a00;
    font-family: 'Dancing Script';
}
.contenedor{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 25%;
    text-align: center;
    border-radius: 20px;
}
.texto_historia{
    margin-top: 1%;
    font-size: large;
    margin-bottom: 5%;
    font-family: 'Kanit',sans-serif;
    color: white;
}
/* @media (max-width: 900px) {
    .Pagina_Sobre_Nosotros{
        flex-direction: column;
        align-items: normal;
    }
    .contenedor_historia{
        display: flex;
        flex-direction: column;
    }
    .contenedor{
        flex-direction: column;
    }
} */

